.view-button {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.save-button {
    float: right;
    margin-bottom: 10px;
}

.result-buttons {
    padding-right: 0px;
}

a:hover { 
    color: blue;
}

.save-button:hover { 
    color: blue;
    text-decoration-line: none;
}