textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #000000!important;
    -webkit-box-shadow: 0 1px 0 0 #000000!important;
            box-shadow: 0 1px 0 0 #000000 !important;
  }
  
  textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #000000 !important;
  }
  
