Table {
    background-color: white;
}

tr {
    border-bottom: solid gray 1px;
}

.tableIndent {
    padding-left: 20px;
}

/* .editButton {
    margin: 0 auto;
    float: right;
}

.deleteButton {
    margin: 0 auto;
    float: right;
} */