.navbar {
    margin-bottom: 20px;
    background-color: lightgrey;
    font-family: 'Signika', sans-serif;
}

a:hover {
    color: grey !important

}

.navpad {
    padding-left: 15%;
    padding-right: 8%;
}
