.footer {
    margin-bottom: 0px;
    color: lightgrey;
    font-family: 'Signika', sans-serif;
}
#body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

#main {
    flex: 1 0 auto;
  }